<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ma's Mothers Day Website</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-brand">
            <a class="title" href='/'>Home</a>
        </div>
        <div class="navbar-end">
            <br>
            <a href="/reasons" class="navbar-item">5 reasons we love ma</a>
            <a href="/poem" class="navbar-item">Why ma is so awesome</a>
        </div>
    </nav>
    {% block content %} 

    {% endblock %}
</body>
</html>