{% extends 'base.html' %} 

{% block content %} 
    <br><br>
    <div class="container">
        <div class="hero">
            <h1 class="title">A custom website for a very special mom</h1>
        </div>
        <div class="hero-body">
            <div class="content">
                who changes the lives of everyone who knows her.
            </div>
        </div>
        <h1 class="title">View all the links</h1>
        <div class="container is-flex is-align-items-center is-justify-content-center">
            <div class="columns">
                <div class="column">
                    <a class="button is-success">
                        Why we love you
                    </a>
                </div>
                <div class="column">
                    <a class="button is-success">
                        Our view of you
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}