{% extends 'base.html' %} 

{% block content %}     
    <br><br>
    <div class="hero is-fullheight-with-navbar is-transparent">
        <div class="hero-head">
            <div class="container has-text-centered">
                <h1 class="title">5 reasons we love ma</h1>
            </div>
            <hr>
            <!-- 
                <div class="container">
                    <ul>
                        <li>1. She is fun</li>
                        <li>2. She is hardworking</li>
                        <li>3. She always knows how to make someone smile</li>
                        <li>4. She never gives up</li>
                        <li>5. She enforces all of these principles on you, to make you the best you can be</li>
                    </ul>
                </div>
            -->
            <div class="columns">
                <div class="column">
                    <div class="tile is-parent">
                        <article class="tile is-child box">
                            <p class="title">1.</p>
                            <p class="subtitle">She is incredibly fun</p>
                            <div class="content">
                                Ma  is incredibly fun, with a smile that can light up a room. 
                            </div>
                        </article>
                    </div>
                </div>
                <div class="column">
                    <div class="tile is-parent">
                        <article class="tile is-child box">
                            <p class="title">2.</p>
                            <p class="subtitle">
                                She is hardworking
                            </p>
                            <div class="content">
                                Ma is incredibly hardworking. She commits in every single task, and does not stop until it is done properly, which is one of the most inspiring parts about her.
                            </div>
                        </article>
                    </div>
                </div>
                <div class="column">
                    <div class="tile is-parent">
                        <article class="tile is-child box">
                            <p class="title">3. </p>
                            <p class="subtitle">She knows how to make you laugh</p>
                            <div class="content">
                                No matter what, the most defining part about Ma is her ability to make everyone laugh without limit. A simple look from her can make anyone crack up.
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <div class="tile is-parent">
                        <article class="tile is-child box">
                            <p class="title">4.</p>
                            <p class="subtitle">She never gives up</p>

                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}