{% extends 'base.html' %} 

{% block content %} 
    <div class="is-flex is-justify-content-center">
        <h1 class="title">Top 5 reasons we love you</h1>
    </div>
    <br>
    <div class="has-text-centered">
        <ol>
            <h3 class="content">1. She never gives up</h3>
            <h3 class="content">2. She always comes through for you</h3>
            <h3 class="content">3. She can make everyone laugh</h3>
            <h3 class="content">4. Fun times are guarenteed</h3>
            <h3 class="content">5. Never boring</h3>
        </ol>
    </div>
{% endblock %}