{% extends 'base.html' %} 

{% block content %} 
<div class="container">
    <div class="has-text-centered">
        <h1 class="title">What we love about Ma</h1>
    </div>
    <hr>
    <div class="box is-fullwidth has-background-grey-lighter">
        <div class="content is-white">
            To ma, a wonderful mother, and person in general. During all these years, you have been the one constant in my life. The one thing I could depend on no matter what.
            Through it all, you have been always there, always pushing me to do my best, no matter how much I didn't want to. You have always been fun, adventurous, and exciting, 
            and whenever we are together, I have no idea what is coming next. The best thing about you, however, is how you never gave up on anything we ever did. 
            You never let us go an evening without asking how our weird clubs or odd hobbies are going. In the end, the will to do good for us never left, and you always tried to do 
            anything you possibly could. And that is the best part about you. 
        </div>
    </div>
    <hr>
    <div class="has-text-centered">

        <div class="columns">
            <div class="column">
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <a href="/" class="button is-success">Home</a>
                    </article>
                </div>
            </div>
            <div class="column">
                <div class="tile is-parent">
                    <article class="tile is-child box ">
                        <p class="title">
                            <a href="/reasons" class='button is-success'>5 reasons we love you</a>
                        </p>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}